@import 'https://fonts.googleapis.com/css?family=Anton';
body {
  background-color: #fff;
}
.bg-blue {
  background-color: #4285f4;
}
.bg-red {
  background-color: #ea4335;
}
.bg-green {
  background-color: #34a853;
}
.bg-yellow {
  background-color: #fdc508;
}
.main-title {
  font-family: poppins, roboto slab, times new roman;
}
.navbar {
  color: #555 !important;
  padding: 0.625rem 0;
}
.navbar.navbar-transparent {
  color: #555 !important;
  padding: 0.625rem 0;
}
.navbar.navbar-transparent.navbar-team {
  color: #fff !important;
  padding: 0.625rem 0;
}
.navbar {
  box-shadow: none;
}
.nav-open .navbar-collapse {
  box-shadow: -1px 0 15px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  background-color: #555 !important;
}
.logo-small {
  overflow: inherit !important;
}
.logo-big {
  overflow: inherit !important;
  height: 80px !important;
}
.logo-big span {
  font-size: 1.5rem;
}
.logo {
  font-family: poppins, roboto slab, times new roman;
  color: #595959;
  font-weight: 600;
}
.logo span {
  padding-left: 10px;
}
.main_header_title,
.main_header_subtitle {
  color: #4e4e4e;
  font-weight: 600;
  text-transform: capitalize;
}
.main_header_title {
  font-size: 5em;
}
@media (max-width: 700px) {
  .main_header_title {
    font-size: 3.13em;
  }
}
.main-header {
  max-height: 999px;
  padding: 0;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.main-header .hero-img {
  position: absolute;
  bottom: 0;
  max-width: 700px;
  text-align: center;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.main-header .circles {
  animation: a 1s infinite;
  background: #ea4335;
  position: absolute;
  transition: 0.5s ease-out;
  overflow: hidden;
  border-radius: 50%;
}
@media (min-width: 900px) {
  .main-header .circles.circle1 {
    animation: header-swing 4s infinite;
    height: 300px;
    width: 300px;
    opacity: 1;
    left: -5%;
    top: 49%;
    background: #ea4335;
  }
  .main-header .circles.circle2 {
    animation: header-swing 6s infinite;
    height: 350px;
    width: 350px;
    opacity: 1;
    right: -50px;
    top: -50px;
    background: #f4b400;
  }
  .main-header .circles.circle3 {
    animation: header-swing 5s infinite;
    height: 80px;
    width: 80px;
    opacity: 0.1;
    left: 60%;
    bottom: 40%;
    background: #ea4335;
  }
  .main-header .circles.circle4 {
    animation: header-swing 10s infinite;
    height: 150px;
    width: 150px;
    opacity: 0.9;
    right: 15%;
    top: 61%;
    background: #0f9d58;
  }
  .main-header .circles.circle5 {
    animation: header-swing 6s infinite;
    height: 250px;
    width: 250px;
    opacity: 0.1;
    left: 32%;
    bottom: 29%;
  }
  .main-header .circles.circle6 {
    animation: header-swing 9s infinite;
    left: 25%;
    top: 52px;
    height: 200px;
    width: 200px;
    opacity: 1;
    background: #4285f4;
  }
  .main-header .circles.circle7 {
    animation: header-swing 3s infinite;
    width: 100px;
    height: 100px;
    left: 30%;
    bottom: 20%;
    opacity: 0.1;
    background: #4285f4;
  }
}
@media (min-width: 350px) and (max-width: 900px) {
  .main-header .circles.circle1 {
    animation: header-swing 5s infinite;
    height: 150px;
    width: 150px;
    opacity: 1;
    left: -5%;
    top: 66%;
    background: #ea4335;
  }
  .main-header .circles.circle2 {
    animation: header-swing 6s infinite;
    height: 120px;
    width: 120px;
    opacity: 1;
    right: -4%;
    top: 10%;
    background: #f4b400;
  }
  .main-header .circles.circle3 {
    animation: header-swing 7s infinite;
    height: 100px;
    width: 100px;
    opacity: 0.1;
    left: 20%;
    top: 50%;
    background: #ea4335;
  }
  .main-header .circles.circle4 {
    animation: header-swing 10s infinite;
    height: 150px;
    width: 150px;
    opacity: 0.9;
    right: -10%;
    top: 60%;
    background: #0f9d58;
  }
  .main-header .circles.circle5 {
    animation: header-swing 6s infinite;
    height: 150px;
    width: 150px;
    opacity: 0.1;
    left: 32%;
    bottom: 29%;
  }
  .main-header .circles.circle6 {
    animation: header-swing 9s infinite;
    left: -8%;
    top: 17%;
    height: 160px;
    width: 160px;
    opacity: 0.8;
    background: #4285f4;
  }
  .main-header .circles.circle7 {
    animation: header-swing 6s infinite;
    width: 50px;
    height: 50px;
    right: 4%;
    top: 34%;
    opacity: 0.1;
    background: #4285f4;
  }
}
@media (max-width: 350px) {
  .main-header .circles.circle1 {
    animation: header-swing 4s infinite;
    height: 80px;
    width: 80px;
    opacity: 1;
    left: -5%;
    top: 72%;
    background: #ea4335;
  }
  .main-header .circles.circle2 {
    animation: header-swing 6s infinite;
    height: 80px;
    width: 80px;
    opacity: 1;
    right: -4%;
    top: 10%;
    background: #f4b400;
  }
  .main-header .circles.circle3 {
    animation: header-swing 5s infinite;
    height: 60px;
    width: 60px;
    opacity: 0.1;
    right: 60%;
    top: 50%;
    background: #4285f4;
  }
  .main-header .circles.circle4 {
    animation: header-swing 10s infinite;
    height: 120px;
    width: 120px;
    opacity: 0.9;
    right: -20%;
    top: 57%;
    background: #0f9d58;
  }
  .main-header .circles.circle5 {
    animation: header-swing 6s infinite;
    height: 150px;
    width: 150px;
    opacity: 0.1;
    left: 32%;
    bottom: 29%;
  }
  .main-header .circles.circle6 {
    animation: header-swing 9s infinite;
    left: -14%;
    top: 22%;
    height: 100px;
    width: 100px;
    opacity: 0.8;
    background: #4285f4;
  }
  .main-header .circles.circle7 {
    animation: header-swing 3s infinite;
    width: 50px;
    height: 50px;
    right: 4%;
    top: 40%;
    opacity: 0.1;
    background: #ea4335;
  }
}
@keyframes header-swing {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  to {
    transform: translateX(-10px);
  }
}
.about-section {
  background-color: #000;
}
.about-section .section {
  padding: 0;
}
.about-section .section .text-area {
  min-height: 100vh;
  padding-top: 70px;
  padding-bottom: 70px;
}
@media (max-width: 700px) {
  .about-section .section .text-area {
    min-height: 100%;
    padding-top: 0;
    padding-bottom: 70px;
  }
}
.about-section .section .text-area h4 {
  margin-top: 50px;
}
.about-learn-more {
  margin-top: 20px;
}
.about-section-img {
  background-size: cover;
  background-position: center;
}
.what-we-do {
  position: relative;
}
.what-we-do h1,
.what-we-do h1.title {
  color: #595959 !important;
}
.what-we-do h3,
.what-we-do h4 {
  color: #595959 !important;
}
.about-learn-more {
  margin-top: 50px;
  z-index: 10;
}
.blue-1 {
  position: absolute;
  top: -13%;
  left: -10px;
  width: 450px;
  user-select: none;
  max-width: 27vw;
}
.green-1 {
  position: absolute;
  bottom: -250px;
  width: 300px;
  user-select: none;
  max-width: 25vw;
  left: -10px;
}
.yellow-1 {
  position: absolute;
  bottom: 0%;
  right: 0;
  width: 40vw;
  user-select: none;
}
@media (max-width: 900px) {
  .blue-1 {
    max-width: 35vw;
  }
  .green-1 {
    bottom: -100px;
  }
}
.domain-section {
  background: #000;
}
@media (min-width: 700px) {
  .domain-section .title,
  .domain-section h3 {
    font-family: poppins, roboto slab, times new roman;
    font-weight: 700;
    color: #fff;
    vertical-align: middle;
    line-height: 80px;
  }
  .domain-section .round-divs h3 > span {
    padding-left: 30px;
    padding-right: 30px;
    vertical-align: middle;
    display: inline-block;
    line-height: 100%;
  }
  .domain-section .round-divs div {
    border-radius: 100px;
    min-height: 130px;
    max-height: 130px;
    margin-bottom: 50px;
    margin-top: 20px;
    line-height: 130px;
    position: relative;
    transition: transform 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
  }
  .domain-section .round-divs div:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  .domain-section .round-divs {
    margin-bottom: 100px;
  }
}
.contact-us-section {
  position: relative;
}
.footer-title {
  font-weight: 500;
  margin-top: 100px;
}
.follow-title {
  font-weight: 400;
  margin-top: 100px;
}
.social-links img {
  margin-right: 15px;
}
.blue-2 {
  position: absolute;
  bottom: 0;
  left: -10px;
  width: 500px;
  user-select: none;
  max-width: 45vw;
}
.green-2 {
  position: absolute;
  top: -200px;
  left: -10px;
  width: 450px;
  user-select: none;
  max-width: 30vw;
}
.yellow-2 {
  position: absolute;
  bottom: 0%;
  right: 0;
  width: 30vw;
  user-select: none;
}
.red-2 {
  position: absolute;
  top: -200px;
  right: 0;
  max-width: 35vw;
  width: 550px;
  user-select: none;
}
@media (max-width: 500px) {
  .green-2 {
    top: -100px;
    left: -10px;
    width: 450px;
    user-select: none;
    max-width: 35vw;
  }
  .red-2 {
    top: -100px;
    right: 0;
    max-width: 45vw;
    width: 550px;
  }
}
@media (max-width: 700px) {
  .what-we-do h1 {
    font-size: 2.1125rem;
  }
  .what-we-do h3 {
    font-size: 1rem;
  }
  .what-we-do {
    height: 60vh;
  }
  .domain-section h1 {
    font-size: 2.5125rem;
  }
  .domain-section {
    max-height: 90vh;
  }
  .domain-section .section {
    padding: 40px 0;
    padding-bottom: 100px;
  }
  .domain-section .round-divs {
    margin-bottom: 0;
  }
  .domain-section .title,
  .domain-section h3 {
    font-family: poppins, roboto slab, times new roman;
    font-weight: 600;
    color: #fff;
    vertical-align: middle;
    line-height: 50px;
    margin-top: 7px;
    font-size: 1rem;
  }
  .domain-section .title {
    font-size: 2.5rem;
  }
  .domain-section .round-divs h3 > span {
    padding-left: 30px;
    padding-right: 30px;
    vertical-align: middle;
    display: inline-block;
    line-height: 100%;
    font-size: 1.0125rem;
  }
  .domain-section .round-divs div {
    border-radius: 100px;
    min-height: 60px;
    max-height: 130px;
    margin-top: 20px;
    line-height: 130px;
    position: relative;
    transition: transform 0.2s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
  }
  .domain-section .round-divs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .domain-section .round-divs div:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
.slide-section {
  position: relative;
}
.slide-section .event-tile {
  width: 250px;
  height: 250px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: -150px;
}
.slide-section .event-tile h2 {
  padding-top: 50px;
}
@media (max-width: 700px) {
  .slide-section .event-tile {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
    margin-top: -100px;
  }
  .slide-section .event-tile h2 {
    padding-top: 30px;
    font-size: 1.5rem;
  }
}
.main-carousel {
  max-height: 100%;
  width: 100%;
}
.carousel-cell {
  width: 50%;
  height: calc(3 / 8 * 100vw);
  margin-right: 75px;
  border-radius: 5px;
  counter-increment: gallery-cell;
  transition: transform 1s ease;
}
.carousel-cell.is-selected {
  transform: scale(1.08);
}
.flickity-slider {
  padding-top: 30px;
}
.flickity-viewport {
  transition: scale 0.2s;
}
.flickity-page-dots {
  bottom: -70px;
}
.flickity-page-dots .dot {
  margin-top: 20px;
  width: 15px;
  height: 15px;
  opacity: 1;
  background: red;
}
@media (max-width: 700px) {
  .main-carousel {
    width: 100%;
  }
  .carousel-cell {
    width: 85%;
    max-height: 500px;
    margin-right: 15px;
    border-radius: 5px;
    counter-increment: gallery-cell;
    height: calc(3 / 4.5 * 100vw);
  }
  .carousel-cell.is-selected {
    transform: scale(1);
  }
  .flickity-slider {
    padding-top: 0;
  }
  .flickity-page-dots {
    bottom: 0;
  }
}
.flickity-page-dots .dot:nth-child(4n + 1) {
  background: #4285f4;
}
.flickity-page-dots .dot:nth-child(4n + 2) {
  background: #ea4335;
}
.flickity-page-dots .dot:nth-child(4n + 3) {
  background: #fdc508;
}
.flickity-page-dots .dot:nth-child(4n + 4) {
  background: #34a853;
}
.flickity-page-dots .dot.is-selected {
  opacity: 1;
  width: 20px;
  padding-top: 5px;
  height: 20px;
  margin-bottom: -3px;
}
@-webkit-keyframes bouncing-loader {
  to {
    -webkit-transform: translate3d(0, -1rem, 0);
    transform: translate3d(0, -1rem, 0);
  }
}
@keyframes bouncing-loader {
  to {
    -webkit-transform: translate3d(0, -1rem, 0);
    transform: translate3d(0, -1rem, 0);
  }
}
.bouncing-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  z-index: 999999999;
  background: #fff;
  width: 100%;
  top: 0;
}
.bouncing-loader > div {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.75rem;
  background: #4285f4;
  border-radius: 50%;
  -webkit-animation: bouncing-loader 500ms infinite alternate;
  animation: bouncing-loader 500ms infinite alternate;
}
.bouncing-loader > div:nth-child(2) {
  background: #ea4335;
  -webkit-animation-delay: 125ms;
  animation-delay: 125ms;
}
.bouncing-loader > div:nth-child(3) {
  background: #fbbc05;
  -webkit-animation-delay: 250ms;
  animation-delay: 250ms;
}
.bouncing-loader > div:nth-child(4) {
  background: #34a853;
  -webkit-animation-delay: 375ms;
  animation-delay: 375ms;
}
.certificate-side-div {
  height: 80px;
}
.certificate-footer-title {
  margin-top: 20px;
}
@media (max-width: 786px) {
  .certificate-side-div {
    height: 100px;
  }
  .certificate-footer-title {
    margin-top: 100px;
  }
}
.lightertitle {
  color: #f4b400;
  font-size: 14px;
  font-weight: 700;
}
.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}
.main_header_title_event {
  color: #000 !important;
  font-size: 3em !important;
  font-family: anton, sans-serif !important;
  font-weight: bolder !important;
  text-transform: capitalize !important;
}
@media (max-width: 700px) {
  .main_header_title_event {
    font-size: 3em;
  }
}
.blue-color {
  color: #4285f4;
}
.red-color {
  color: #ea4335;
}
.yellow-color {
  color: #fdc508;
}
.green-color {
  color: #34a853;
}
.workshop-card {
  box-shadow: 0 0 50px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  transition: transform 0.2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  min-height: 350px;
}
.workshop-card:hover {
  transform: scale(1.02);
}
.link-container {
  display: grid;
  align-items: center;
  min-height: 150px;
}
.link-container .link {
  margin: 0 auto;
}
.workshop-main-container {
  margin-top: 50px;
}
.workshop-main-div {
  padding: 0;
  color: #fff;
  position: relative;
  z-index: 99;
  overflow: hidden;
}
.workshop-main-div .circles {
  animation: a 1s infinite;
  background: #ea4335;
  position: absolute;
  transition: 0.5s ease-out;
  overflow: hidden;
  border-radius: 50%;
}
@media (min-width: 900px) {
  .workshop-main-div .circles.circle1 {
    animation: header-swing 4s infinite;
    height: 300px;
    width: 300px;
    opacity: 1;
    right: 0%;
    top: 10%;
    background: #ea4335;
  }
  .workshop-main-div .circles.circle2 {
    animation: header-swing 6s infinite;
    height: 200px;
    width: 200px;
    opacity: 1;
    left: 50%;
    bottom: 20px;
    background: #f4b400;
  }
  .workshop-main-div .circles.circle3 {
    animation: header-swing 5s infinite;
    height: 100px;
    width: 100px;
    opacity: 0.1;
    left: -10px;
    bottom: 10%;
    background: #ea4335;
  }
  .workshop-main-div .circles.circle4 {
    animation: header-swing 10s infinite;
    height: 150px;
    width: 150px;
    opacity: 0.9;
    left: -50px;
    top: 60%;
    background: #0f9d58;
  }
  .workshop-main-div .circles.circle5 {
    animation: header-swing 6s infinite;
    height: 150px;
    width: 150px;
    opacity: 0.1;
    right: -20px;
    bottom: 20%;
    background: #0f9d58;
  }
  .workshop-main-div .circles.circle6 {
    animation: header-swing 9s infinite;
    left: 0%;
    top: 52px;
    height: 200px;
    width: 200px;
    opacity: 0.8;
    background: #4285f4;
  }
  .workshop-main-div .circles.circle7 {
    animation: header-swing 3s infinite;
    width: 130px;
    height: 130px;
    right: 50%;
    top: 50%;
    opacity: 0.1;
    background: #4285f4;
  }
}
@media (min-width: 350px) and (max-width: 900px) {
  .workshop-main-div .circles.circle1 {
    animation: header-swing 5s infinite;
    height: 150px;
    width: 150px;
    opacity: 1;
    right: -20px;
    top: 5px;
    background: #ea4335;
  }
  .workshop-main-div .circles.circle2 {
    animation: header-swing 6s infinite;
    height: 120px;
    width: 120px;
    opacity: 1;
    right: -4%;
    top: 30%;
    background: #f4b400;
  }
  .workshop-main-div .circles.circle3 {
    animation: header-swing 7s infinite;
    height: 100px;
    width: 100px;
    opacity: 1;
    left: -5px;
    top: 45%;
    background: #ea4335;
  }
  .workshop-main-div .circles.circle4 {
    animation: header-swing 10s infinite;
    height: 150px;
    width: 150px;
    opacity: 0.9;
    left: -10%;
    top: 72%;
    background: #0f9d58;
  }
  .workshop-main-div .circles.circle5 {
    animation: header-swing 6s infinite;
    height: 150px;
    width: 150px;
    opacity: 1;
    right: 0%;
    bottom: 2%;
    background: #f4b400;
  }
  .workshop-main-div .circles.circle6 {
    animation: header-swing 9s infinite;
    left: -8%;
    top: 13%;
    height: 160px;
    width: 160px;
    opacity: 1;
    background: #4285f4;
  }
  .workshop-main-div .circles.circle7 {
    animation: header-swing 6s infinite;
    width: 100px;
    height: 100px;
    right: 0;
    top: 54%;
    opacity: 1;
    background: #4285f4;
  }
}
@media (max-width: 350px) {
  .workshop-main-div .circles.circle1 {
    animation: header-swing 4s infinite;
    height: 80px;
    width: 80px;
    opacity: 1;
    right: -10px;
    top: 20px;
    background: #ea4335;
  }
  .workshop-main-div .circles.circle2 {
    animation: header-swing 6s infinite;
    height: 80px;
    width: 80px;
    opacity: 1;
    right: -10px;
    top: 40%;
    background: #f4b400;
  }
  .workshop-main-div .circles.circle3 {
    animation: header-swing 5s infinite;
    height: 100px;
    width: 100px;
    opacity: 1;
    right: -5%;
    top: 73%;
    background: #ea4335;
  }
  .workshop-main-div .circles.circle4 {
    animation: header-swing 10s infinite;
    height: 120px;
    width: 120px;
    opacity: 1;
    left: -20px;
    top: 60%;
    background: #0f9d58;
  }
  .workshop-main-div .circles.circle5 {
    animation: header-swing 6s infinite;
    height: 70px;
    width: 70px;
    opacity: 1;
    right: 0%;
    bottom: 20px;
    background: #f4b400;
  }
  .workshop-main-div .circles.circle6 {
    animation: header-swing 9s infinite;
    left: -20px;
    top: 20%;
    height: 100px;
    width: 100px;
    opacity: 1;
    background: #4285f4;
  }
  .workshop-main-div .circles.circle7 {
    animation: header-swing 3s infinite;
    width: 90px;
    height: 90px;
    left: -10px;
    top: 80%;
    opacity: 1;
    background: #4285f4;
  }
}
.team-main-title {
  padding: 0;
}
@media (max-width: 500px) {
  .team-main-title {
    font-size: 1.3125rem;
    padding: 0;
  }
}
.team-lead-div {
  padding: 0;
  color: #fff;
  position: relative;
  z-index: 99;
  overflow: hidden;
}
.team-lead-div .circles {
  animation: a 1s infinite;
  background: #ea4335;
  position: absolute;
  transition: 0.5s ease-out;
  overflow: hidden;
  border-radius: 50%;
}
@media (min-width: 900px) {
  .team-lead-div .circles.circle1 {
    animation: header-swing 4s infinite;
    height: 200px;
    width: 200px;
    opacity: 1;
    right: 0%;
    top: 10%;
    background: #ea4335;
  }
  .team-lead-div .circles.circle2 {
    animation: header-swing 6s infinite;
    height: 150px;
    width: 150px;
    opacity: 1;
    right: 20%;
    bottom: 50%;
    background: #f4b400;
  }
  .team-lead-div .circles.circle3 {
    animation: header-swing 5s infinite;
    height: 100px;
    width: 100px;
    opacity: 0.1;
    left: 10%;
    bottom: 10%;
    background: #ea4335;
  }
  .team-lead-div .circles.circle4 {
    animation: header-swing 10s infinite;
    height: 150px;
    width: 150px;
    opacity: 0.9;
    left: -50px;
    top: 40%;
    background: #0f9d58;
  }
  .team-lead-div .circles.circle5 {
    animation: header-swing 6s infinite;
    height: 150px;
    width: 150px;
    opacity: 0.1;
    right: -20px;
    bottom: 0%;
    background: #0f9d58;
  }
  .team-lead-div .circles.circle6 {
    animation: header-swing 9s infinite;
    left: 10%;
    top: 52px;
    height: 250px;
    width: 250px;
    opacity: 0.8;
    background: #4285f4;
  }
  .team-lead-div .circles.circle7 {
    animation: header-swing 3s infinite;
    width: 130px;
    height: 130px;
    right: 50%;
    top: 50%;
    opacity: 0.1;
    background: #4285f4;
  }
}
@media (min-width: 350px) and (max-width: 900px) {
  .team-lead-div .circles.circle1 {
    animation: header-swing 5s infinite;
    height: 120px;
    width: 120px;
    opacity: 1;
    right: -25px;
    top: -20px;
    background: #ea4335;
  }
  .team-lead-div .circles.circle2 {
    animation: header-swing 6s infinite;
    height: 120px;
    width: 120px;
    opacity: 1;
    left: -4%;
    bottom: 35%;
    background: #f4b400;
  }
  .team-lead-div .circles.circle3 {
    animation: header-swing 7s infinite;
    height: 100px;
    width: 100px;
    opacity: 1;
    right: -5px;
    top: 40%;
    background: #0f9d58;
  }
  .team-lead-div .circles.circle4 {
    animation: header-swing 10s infinite;
    height: 100px;
    width: 100px;
    opacity: 0.9;
    left: -10%;
    bottom: 0%;
    background: #0f9d58;
  }
  .team-lead-div .circles.circle5 {
    animation: header-swing 6s infinite;
    height: 150px;
    width: 150px;
    opacity: 0.1;
    left: 0%;
    bottom: 10%;
    background: #4285f4;
  }
  .team-lead-div .circles.circle6 {
    animation: header-swing 9s infinite;
    left: -8%;
    top: 20%;
    height: 140px;
    width: 140px;
    opacity: 1;
    background: #4285f4;
  }
  .team-lead-div .circles.circle7 {
    animation: header-swing 6s infinite;
    width: 100px;
    height: 100px;
    right: 0;
    top: 70%;
    opacity: 0.1;
    background: #ea4335;
  }
}
@media (max-width: 350px) {
  .team-lead-div .circles.circle1 {
    animation: header-swing 4s infinite;
    height: 80px;
    width: 80px;
    opacity: 1;
    right: -15px;
    top: 20px;
    background: #ea4335;
  }
  .team-lead-div .circles.circle2 {
    animation: header-swing 6s infinite;
    height: 80px;
    width: 80px;
    opacity: 1;
    right: -10px;
    top: 50%;
    background: #f4b400;
  }
  .team-lead-div .circles.circle3 {
    animation: header-swing 5s infinite;
    height: 100px;
    width: 100px;
    opacity: 0;
    right: -5%;
    top: 73%;
    background: #ea4335;
  }
  .team-lead-div .circles.circle4 {
    animation: header-swing 10s infinite;
    height: 80px;
    width: 80px;
    opacity: 1;
    left: -20px;
    bottom: 0;
    background: #0f9d58;
  }
  .team-lead-div .circles.circle5 {
    animation: header-swing 6s infinite;
    height: 70px;
    width: 70px;
    opacity: 0;
    right: 0%;
    bottom: 20px;
    background: #f4b400;
  }
  .team-lead-div .circles.circle6 {
    animation: header-swing 9s infinite;
    left: -20px;
    top: 20%;
    height: 100px;
    width: 100px;
    opacity: 1;
    background: #4285f4;
  }
  .team-lead-div .circles.circle7 {
    animation: header-swing 3s infinite;
    width: 90px;
    height: 90px;
    left: -10px;
    top: 80%;
    opacity: 0;
    background: #4285f4;
  }
}
.workshop-card .card-avatar a {
  cursor: default;
}
.archive {
  background: #fff;
  color: #ea4335;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2rem;
  box-shadow: none;
  font-size: larger;
}
.archive span {
  font-size: larger !important;
}
.archive:hover {
  background-color: #ea4335 !important;
}
.time-brdr {
  position: relative;
  left: 50%;
  transform: translate(-50%, -450%);
  height: 4px;
  width: 20%;
  background: #009fff;
  background: -webkit-linear-gradient(to right, #ec2f4b, #009fff);
  background: linear-gradient(to right, #ec2f4b, #009fff);
}
